<mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
  </mat-form-field>
  
  <button mat-raised-button (click)="openDialog()" >New Submission</button>
  <button mat-raised-button (click)="removeSelectedRows()" style="margin-left: 20px"> Remove Submission </button>
  
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" class="full-width-table" matSort aria-label="Elements">
        <ng-container matColumnDef="select" sticky>
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null"
                            [checked]="selection.hasValue() && isAllSelected()"
                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                            [aria-label]="checkboxLabel()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()"
                            (change)="$event ? selection.toggle(row) : null"
                            [checked]="selection.isSelected(row)"
                            [aria-label]="checkboxLabel(row)">
              </mat-checkbox>
            </td>
          </ng-container>
      <!-- Id Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
        <td mat-cell *matCellDef="let row">{{row.id}}</td>
      </ng-container>
  
      <!-- Name Column -->
      <ng-container matColumnDef="rep">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Rep</th>
        <td mat-cell *matCellDef="let row">{{row.rep}}</td>
      </ng-container>
      <ng-container matColumnDef="vendor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendor</th>
        <td mat-cell *matCellDef="let row">{{row.vendor}}</td>
      </ng-container>
      <ng-container matColumnDef="primeVendor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Prime Vendor</th>
        <td mat-cell *matCellDef="let row">{{row.primeVendor}}</td>
      </ng-container>
      <ng-container matColumnDef="client">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Client</th>
        <td mat-cell *matCellDef="let row">{{row.client}}</td>
      </ng-container>
      <!--
      <ng-container matColumnDef="implementationPartnerVendor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Implementaion Partner Vendor</th>
        <td mat-cell *matCellDef="let row">{{row.implementationPartnerVendor}}</td>
      </ng-container>
    -->
      <ng-container matColumnDef="vendorPerson">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendor Person</th>
        <td mat-cell *matCellDef="let row">{{row.vendorPerson}}</td>
      </ng-container>
      <ng-container matColumnDef="vendorContact">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendor Contact</th>
        <td mat-cell *matCellDef="let row">{{row.vendorContact}}</td>
      </ng-container>
      <ng-container matColumnDef="primeVendorPerson">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Prime Vendor Person</th>
        <td mat-cell *matCellDef="let row">{{row.primeVendorPerson}}</td>
      </ng-container>
      <ng-container matColumnDef="primeVendorContact">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Prime Vendor Contact</th>
        <td mat-cell *matCellDef="let row">{{row.primeVendorContact}}</td>
      </ng-container>
      <!--
      <ng-container matColumnDef="firstCommunication">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>First Communication</th>
        <td mat-cell *matCellDef="let row">{{row.firstCommunication}}</td>
      </ng-container>
    -->
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Role</th>
        <td mat-cell *matCellDef="let row">{{row.role}}</td>
      </ng-container>
      <!--
      <ng-container matColumnDef="domain">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Domain</th>
        <td mat-cell *matCellDef="let row">{{row.domain}}</td>
      </ng-container>
      <ng-container matColumnDef="toolStack">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Tool Stack</th>
        <td mat-cell *matCellDef="let row">{{row.toolStack}}</td>
      </ng-container>
      <ng-container matColumnDef="submissionAndProcess">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Submission and Process</th>
        <td mat-cell *matCellDef="let row">{{row.submissionAndProcess}}</td>
      </ng-container>
    -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
        <td mat-cell *matCellDef="let row">{{row.status}}</td>
      </ng-container>
      <ng-container matColumnDef="reasonOnDecision">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Reason on Decision</th>
        <td mat-cell *matCellDef="let row">{{row.reasonOnDecision}}</td>
      </ng-container>
      <!--
      <ng-container matColumnDef="updates">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Updates</th>
        <td mat-cell *matCellDef="let row">{{row.updates}}</td>
      </ng-container>
    -->
      <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Edit</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="onEdit(row)"><mat-icon>launch</mat-icon></button>
          </td>
        </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      
      (click)="selection.toggle(row)"></tr>
      
    </table>
  <div class="footer" style="position: sticky">
    <mat-paginator #paginator 
        [length]="dataSource?.data.length"
        [pageIndex]="0"
        [pageSize]="10"
        [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons>
    </mat-paginator> 
  </div>
  </div>
  