<h1 mat-dialog-title>New Employee </h1>
<div mat-dialog-content [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
  <mat-form-field>
    <input matInput formControlName="id"
    placeholder="Employee ID">
  </mat-form-field>
  <mat-form-field style="margin-left: 20px">
        <input matInput formControlName="name"
        placeholder="Employee Name">
</mat-form-field>
</div>
<div class="button-row">
    <button mat-raised-button style="margin-right: 20%" color="primary" type="submit" (click)="onSubmit()" [disabled]="service.form.invalid">Submit</button>
    <button mat-raised-button color="warn" (click)="onNoClick()">Clear</button>
</div>